

  <div><%= order.sub_total %></div>
  <div><%= order.shipping %></div>
  <div><%= order.tax %></div>
  <div><%= order.total %></div>
  <div><%= order.address %></div>
  <div><%= order.name %></div>
  <div><%= order.last_name %></div>
  <div><%= order.mobile %></div>
  <div><%= order.age %></div>
